<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="project_add">
      <p id="notice"><%= notice %></p>
      <p>
        <strong>Color</strong>
        <%= @fibre.f_color %>
      </p>
      <p>
        <strong>Otdf direct</strong>
        <%= @fibre.otdf.direct %>
      </p>
      <p>
        <strong>Number in Otdf</strong>
        <%= @fibre.number_in_otdf %>
      </p>
    </div>
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=400x300&sensor=false&zoom=16&markers=#{@fibre.latitude}%2C#{@fibre.longitude}" %>
  </div>
</div>
