<div class="row">
	    <div class="col-md-4 col-md-offset-4">
	    	<div class="project_add">
	    	<p id="notice"><%= notice %></p>

				<p>
				  <strong>Name:</strong>
				  <%= @project.name %>
				</p>

				<p>
				  <strong>Admin:</strong>
				  <%= @project.admin %>
				</p>
				<% if current_admin %>
				<p>
				<table>
				  <thead>
				    <tr>
				      <th>Id</th>
				      <th>Email</th>
				      <th colspan="3"></th>
				    </tr>
				  </thead>
				  			<tbody>
  							<% @users.each do |user| %>
								<%= user.email %> <%= link_to 'Add friend', addusers_project_path(@project, user_id: user.id) %><br />
    						<% end %>
    						</tbody>
				  <tbody>
				    <% @usersadd.each do |user| %>
				      <tr>
				        <td><%= user.id %></td>
				        <td><%= user.email %></td>
				        <td><%= link_to 'Remove user',  removeuser_project_path(@project, user_id: user.id) %></td>
				      </tr>
				    <% end %>

				  </tbody>
				</table>    
				</p>
				<%= link_to 'Edit', edit_project_path(@project) %> |
				<%= link_to 'Back', projects_path %>
				<% end %>
				
			</div>
		</div>
</div>